@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

$ponto-de-quebra-md: 768px;
$ponto-de-quebra-sm: 480px;
$tamanho-fonte-grande: 2.5rem;
$tamanho-fonte-medio: 2rem;
$tamanho-fonte-pequeno: 1.5rem;

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 80%;
    font-family: 'Rubik', sans-serif;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px var(--cor-primaria-opaca);

    @media only screen and (max-width: $ponto-de-quebra-md) {
        width: 90%;
        padding: 15px;
    }

    @media only screen and (max-width: $ponto-de-quebra-sm) {
        width: 95%;
        padding: 10px;
    }

    .titulo-login {
        margin-bottom: 15px;
        text-align: center;
        color: var(--cor-primaria-opaca);
        font-size: $tamanho-fonte-grande;

        @media only screen and (max-width: $ponto-de-quebra-md) {
            font-size: $tamanho-fonte-medio;
        }

        @media only screen and (max-width: $ponto-de-quebra-sm) {
            font-size: $tamanho-fonte-pequeno;
        }
    }

    .icone-olho {
        color: var(--cor-primaria-opaca);
    }

    .tamanho-inteiro {
        width: 100%;
        margin-top: 10px;
    }

    mat-form-field {
        width: 100%;
        margin-bottom: 5px;
    }

    .grupo-input {
        margin-bottom: 10px;

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            width: calc(100% - 10px);
            padding: 8px;
            box-sizing: border-box;
            border-radius: 4px;
            border: 1px solid #ccc;
            margin-right: 5px;
        }
    }

    .links-recuperacao {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        a {
            color: var(--cor-primaria-opaca);
            text-decoration: none;
            padding: 10px;
            border-radius: 4px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #E3F2FD;
            }
        }
    }

    .paragrafo-senha {
        margin-bottom: 20px;
        margin-top: 10px;
        text-align: center;
        color: #000000aa;
    }

    .botao-enviar {
        margin-top: 12px;
        margin-bottom: 10px;
        width: 100%;
        padding: 10px;
        background: var(--cor-primaria);
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.3s ease;
        height: 50px;

        &:hover {
            background: var(--cor-primaria-opaca);
        }
    }

    .erro-borda {
        border: 1px solid #FF5252 !important;
    }

    .erro-mensagem {
        margin-top: 5px;
        color: #FF5252;
        font-size: 12px;
    }
}