<div class="login-container">
    <form [formGroup]="formLogin" (ngSubmit)="fazerLogin()">
        <img src=".\..\..\..\assets\images\logo.svg" alt="Logo RexLab" class="titulo-login">
        <p class="paragrafo-senha">
            Entre com seu email e senha para acessar o sistema.
        </p>

        <mat-form-field appearance="outline" class="tamanho-inteiro">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Digite seu email" required>
            <mat-error *ngIf="formLogin.get('email')?.invalid && (formLogin.get('email')?.touched || enviado)">
                Insira um email válido, por favor.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="tamanho-inteiro">
            <mat-label>Senha</mat-label>
            <input matInput [type]="senhaVisivel ? 'text' : 'password'" formControlName="senha"
                placeholder="Digite sua senha" required>
            <mat-error *ngIf="formLogin.get('senha')?.invalid && (formLogin.get('senha')?.touched || enviado)">
                A senha é obrigatória.
            </mat-error>
            <button mat-icon-button matSuffix (click)="senhaVisivel = !senhaVisivel" type="button">
                <mat-icon class="icone-olho">{{ senhaVisivel ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>

        <button mat-raised-button type="submit" class="botao-enviar" [disabled]="!formLogin.valid">
            Entrar <mat-icon>arrow_forward</mat-icon>
        </button>

        <div class="links-recuperacao">
            <a routerLink="/registro">Registrar</a>
            <a routerLink="/recuperar-senha">Esqueci Minha Senha</a>
        </div>
    </form>
</div>