@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@include mat.core();
$Paginas-primary: mat.define-palette(mat.$indigo-palette);
$Paginas-accent: mat.define-palette(mat.$indigo-palette);
$Paginas-warn: mat.define-palette(mat.$red-palette);
$Paginas-theme: mat.define-light-theme((color: (primary: $Paginas-primary,
        accent: $Paginas-accent,
        warn: $Paginas-warn,
      )));
@include mat.all-component-themes($Paginas-theme);

:root {

  --cor-primaria: #008080;
  --cor-primaria-opaca: #0080808c;
  --mdc-outlined-text-field-focus-label-text-color: #008080;
  --mdc-outlined-text-field-focus-outline-color: #008080;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}