<div class="registro-container">
    <form [formGroup]="formRegistro" (ngSubmit)="onSubmit()">
        <img src=".\..\..\..\assets\images\logo.svg" alt="Logo RexLab" class="titulo-registro">
        <p class="paragrafo-registro">Preencha os campos abaixo para criar sua conta.</p>

        <mat-form-field appearance="outline" class="tamanho-inteiro">
            <mat-label>Nome</mat-label>
            <input matInput type="text" formControlName="nome" placeholder="Digite seu nome" required>
            <mat-error *ngIf="formRegistro.get('nome')?.invalid && (formRegistro.get('nome')?.touched || enviado)">
                Por favor, insira um nome válido.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="tamanho-inteiro">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Digite seu email" required>
            <mat-error *ngIf="formRegistro.get('email')?.invalid && (formRegistro.get('email')?.touched || enviado)">
                Por favor, insira um email válido.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="tamanho-inteiro">
            <mat-label>Senha</mat-label>
            <input matInput [type]="senhaVisivel ? 'text' : 'password'" formControlName="senha"
                placeholder="Digite sua senha" required>
            <mat-error *ngIf="formRegistro.get('senha')?.touched || enviado">
                <span *ngIf="formRegistro.get('senha')?.hasError('required')">Por favor, insira uma senha.</span>
                <span *ngIf="formRegistro.get('senha')?.hasError('minlength')">A senha deve ter pelo menos 6
                    caracteres.</span>
            </mat-error>
            <button mat-icon-button matSuffix (click)="senhaVisivel = !senhaVisivel" type="button">
                <mat-icon class="icone-olho">{{ senhaVisivel ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>


        <mat-form-field appearance="outline" class="tamanho-inteiro">
            <mat-label>Confirmar Senha</mat-label>
            <input matInput [type]="senhaVisivel ? 'text' : 'password'" formControlName="confirmarSenha"
                placeholder="Confirme sua senha" required>
            <mat-error
                *ngIf="formRegistro.get('confirmarSenha')?.invalid && (formRegistro.get('confirmarSenha')?.touched || enviado)">
                <span *ngIf="formRegistro.get('confirmarSenha')?.errors?.['naoCoincide']">As senhas não
                    coincidem.</span>
                <span *ngIf="formRegistro.get('confirmarSenha')?.errors?.['required']">Por favor, confirme sua
                    senha.</span>
            </mat-error>
            <button mat-icon-button matSuffix (click)="senhaVisivel = !senhaVisivel" type="button">
                <mat-icon class="icone-olho">{{ senhaVisivel ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="outline" class="tamanho-inteiro">
            <mat-label>WhatsApp</mat-label>
            <input matInput type="text" formControlName="whats" placeholder="Digite seu número de WhatsApp" required>
            <mat-error *ngIf="formRegistro.get('whats')?.invalid && (formRegistro.get('whats')?.touched || enviado)">
                Por favor, insira um número de WhatsApp válido.
            </mat-error>
        </mat-form-field>

        <button mat-raised-button type="submit" class="botao-enviar" [disabled]="carregando">REGISTRAR</button>

        <div class="links-recuperacao">
            <a routerLink="/login">Fazer Login</a>
            <a routerLink="/recuperar-senha">Esqueci Minha Senha</a>
        </div>
    </form>
</div>